<nav class="months">
  <ul>
    <% @month_hash.keys.each do |m| %>
        <a href="<%= refinery.events_events_path(params: {m: m, y: @year}) %>">
          <% if @month == m %>
              <li class="active">
          <% else %>
              <li>
          <% end %>
          <%= @month_hash[m] %></li>
        </a>
    <% end %>
  </ul>
</nav>