<nav class="year">
  <ul>
    <% @years.each do |y| %>

        <a href="<%= refinery.events_events_path(params: {y: y, m: @month}) %>">

          <% if @year.to_i == y.to_i %>
              <li class="current">
          <% else %>
              <li>
          <% end %>

          <%= y %></li>
        </a>

    <% end %>
  </ul>
</nav>