<% content_for :head do %>
    <%= stylesheet_link_tag 'events' %>
<% end %>

<% content_for :body do %>
    <div class="events">
      <%= render 'year' %>
      <%= render 'months' %>

      <div class="event-list">

        <% if @events.empty? %>
            <div class="no-event">
              No events for this month.
            </div>
        <% end %>

        <% @events.each do |event| %>
            <article>
              <div class="day"><%= event.when_start.day %></div>
              <a href="<%= refinery.events_event_path(event, params: {y: @year, m: @month}) %>">
                <div class="name"><%= event.what %></div>
                <div class="location"><%= event.where %></div>
                <div class="more">Read More...</div>
              </a>
            </article>
        <% end %>
      </div>
    </div>
<% end %>

<%= render '/refinery/content_page' %>
