<% content_for :body_content_title do %>
    <%= @event.what %>
<% end %>

<% content_for :head do %>
    <%= stylesheet_link_tag 'events' %>
<% end %>

<% content_for :body do %>
    <div class="events">
      <%= render 'year' %>
      <%= render 'months' %>

      <div class="event-details">
        <div class="back"><span><%= link_to 'Back', refinery.events_events_path(params: {y: @year, m: @month}) %></span></div>

        <div class="day"><%= raw @event.when_start.day %></div>
        <div class="name"><%= raw @event.what %></div>
        <div class="location"><%= raw @event.where %></div>
        <div class="time">

          <% if @event.when_time_start.hour != 0 && @event.when_time_start.minute != 0 %>
              <%= @event.when_time_start.strftime("%I:%M %p") %>

              <% if @event.when_time_end %>
                  to <%= @event.when_time_end.strftime("%I:%M %p") %>
              <% end %>
          <% end %>
        </div>

        <div class="details">
          <%= raw @event.details %>
        </div>
      </div>
    </div>
<% end %>

<%= render '/refinery/content_page' %>
