<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(event) -%>">
  <span class='title'>
    <%= event.what %>

  </span>
  <span class='actions'>
    
    <%= link_to refinery_icon_tag("application_go.png"), refinery.events_event_path(event),
        :title => t('.view_live_html'),
        :target => "_blank" %>
    
    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_events_admin_event_path(event),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.events_admin_event_path(event),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :confirm => t('message', :scope => 'refinery.admin.delete', :title => event.what),
        :method => :delete %>
  </span>
</li>
