<%= form_for [refinery, :events_admin, @event] do |f| -%>
    <%= render '/refinery/admin/error_messages',
               :object => @event,
               :include_object_name => true %>

    <div class='field'>
      <%= f.label :what -%>
      <%= f.text_field :what, :class => 'larger widest' %>
    </div>

    <div class='field'>
      <%= label_tag 'When' -%>
      <%= f.date_select :when_start %>
      <%= f.time_select :when_time_start, include_blank: true, :ampm => true%>
      to <%= f.date_select :when_end , include_blank: true-%>
    </div>

    <div class='field'>
      <%= f.label :where -%>
      <%= f.text_field :where -%>
    </div>

    <div class='field'>
      <div id='page-tabs' class='clearfix ui-tabs ui-widget ui-widget-content ui-corner-all'>
        <ul id='page_parts'>
          <% [:details].each_with_index do |part, part_index| %>
              <li class='ui-state-default<%= ' ui-state-active' if part_index == 0 %>'>
                <%= link_to t("#{part}", :scope => "activerecord.attributes.refinery/events/event", :default => part.to_s.titleize), "##{part}" %>
              </li>
          <% end %>
        </ul>
        <div id='page_part_editors'>
          <% [:details].each do |part| %>
              <div class='page_part' id='<%= part %>'>
                <%= f.text_area part, :rows => 20, :class => 'wymeditor widest' -%>
              </div>
          <% end %>
        </div>
      </div>

    </div>

    <%= render '/refinery/admin/form_actions', :f => f,
               :continue_editing => false,
               :delete_title => t('delete', :scope => 'refinery.events.admin.events.event'),
               :delete_confirmation => t('message', :scope => 'refinery.admin.delete', :title => @event.what) %>
<% end -%>

<% content_for :javascripts do %>
    <script>
        $(document).ready(function () {
            page_options.init(false, '', '');
        });
    </script>
<% end %>
